## Exploring Flood Data

This notebook provides basic information on the flood severity dataset (relevant to task two).

In [12]:
import pandas as pd 
import chartify 
import os
data_path = os.path.abspath("").split("flood_forecast")[0] +"data/usgs_event"

'/Users/isaac/Documents/flow-forecast/data/usgs_event'

In [17]:
flood_severity_df = pd.read_csv(os.path.join(data_path,"shave_all.csv"))
flood_severity_df.tail()

,ID_TAG,START_UTC,START_UNIX,END_UTC,END_UNIX,START_LAT,START_LON,IMPACT1,IMPACT2,IMPACT3,...,FLOOD_EVAC,CONTACT_RE,FLOOD_FREQ,LANDUSE_CO,LAND_USE,POPULATION,SLOPE,FLOW_ACCU,CTI,HU
9364,1219183208KM,8/19/2008 9:58:00 PM,1.219183e+09,8/19/2008 9:58:00 PM,1.219183e+09,33.9030,-98.4806,1,1,1,...,,Questionable data point - time,0,13,urban_and_built-up,341.5340,0.19,342.0,11.54,11
9365,1219183230TM,8/19/2008 9:59:00 PM,1.219183e+09,8/19/2008 9:59:00 PM,1.219183e+09,33.9457,-98.4461,1,1,1,...,,Questionable data point - time,0,11,cropland,31.7786,0.56,2.0,5.72,11
9366,1219183352KM,8/19/2008 10:00:00 PM,1.219183e+09,8/19/2008 10:00:00 PM,1.219183e+09,33.9027,-98.4501,1,1,1,...,,Questionable data point - time,0,10,grassland,118.3290,0.25,1.0,6.11,11
9367,1219183395KM,8/19/2008 10:02:00 PM,1.219183e+09,8/19/2008 10:02:00 PM,1.219183e+09,33.9212,-98.4308,1,1,1,...,,Questionable data point - time,0,11,cropland,18.5963,0.36,0.0,5.06,11
9368,1219183397TM,8/19/2008 10:02:00 PM,1.219183e+09,8/19/2008 10:02:00 PM,1.219183e+09,33.9815,-98.5284,1,1,1,...,,Questionable data point - time,0,11,cropland,1082.9200,0.13,0.0,6.13,11

Take from https://www.nssl.noaa.gov/projects/flash/database/2016v1/shave_impacts_metadata.txt

Id_tag				
Denotes the call time and caller (for internal use) [In 2010, this field was changed to serve as a unique report identifier containing a number denoting when each report was taken in chronological order]

Start_UTC			Event start date and time in UTC

Start_UNIX			Event start time in Unix time

End_UTC				Event end date and time in UTC

End_UNIX			Event end time in Unix time

Start_lat			Latitude of report

Start_lon			Longitude of report

Impact1				Most severe recorded impact. 
				
				Impact categories are classified from the least to the most severe into the following categories :
				1 = no impact (SHAVE 'null report')
				2 = other (unclassified or unknown impact)
				3 = overflow (streams out of their banks)
				4 = greenlands flooding (inlcudes : cropland, pastures, yards, grassland)
				5 = street/road flooding
				6 = road closure (or impassible)
				7 = inundation (floodwaters in buildings/homes, including basements)
				8 = Evacuation 
				9 = Stranded cars (e.g.: moved by floodwaters, stalled in ditches, ...)
				10 = Rescue, Fatality or Injury

Impact2				Second most severe recorded impact

Impact3				Third most severe recorded impact

Metr_comments			Additional comments about the call (pertaining to meteorological events)

Report_type			2 = severe
				1 = non-severe
				0 = null

In [19]:
flood_severity_df.groupby('IMPACT1')["ID_TAG"].count()

IMPACT1
1     6872
2      374
3      238
4      962
5      233
6      215
7      371
8       40
9       33
10      31
Name: ID_TAG, dtype: int64

In [20]:
flood_severity_df.groupby('LAND_USE')["ID_TAG"].count()

LAND_USE
closed_shrubland                 54
cropland                       4130
deciduous_broadleaf_forest      363
evergreen_needleleaf_forest      80
grassland                       715
mixed_forest                    224
open_shrubland                   90
urban_and_built-up             1139
water                            52
wooded_grassland               1793
woodland                        729
Name: ID_TAG, dtype: int64

In [ ]:
flood_severity_df.groupby('LAND_USE').groupby("IMPACT1").count()